@font-face {
  font-family: "alumni";
  src: url(../data/fonts_bb/AlumniSansPinstripe-Regular.woff);
}
@font-face {
  font-family: "chathura";
  src: url(../data/fonts_bb/Chathura-Regular.woff);
}
@font-face {
  font-family: "chenla";
  src: url(../data/fonts_bb/Chenla-Regular.woff);
}

:root {
  /* typefaces */

  --h1-typeface: "alumni", sans-serif;
  --h2-typeface: "chathura", sans-serif;
  --h3-typeface: "chathura", sans-serif;
  --h4-typeface: "chathura", sans-serif;
  --p-typeface: "chenla", sans-serif;

  /* font sizes */

  --h1-size: 64px;
  --h2-size: 48px;
  --h3-size: 36px;
  --h4-size: 32px;
  --p-size: 18px;

  /* colors */

  --h1-color: white;
  --h2-color: rgb(255, 255, 255);
  --h3-color: rgb(255, 255, 255);
  --p-color: black;
}
h1 {
  font-family: var(--h1-typeface);
  font-size: var(--h1-size);
  color: var(--h1-color);
}

h2 {
  font-family: var(--h2-typeface);
  font-size: var(--h2-size);
  color: var(--h2-color);
}

h3 {
  font-family: var(--h3-typeface);
  font-size: var(--h3-size);
  color: var(--h3-color);
}

p {
  font-family: var(--p-typeface);
  font-size: var(--p-size);
}
