.hero-image {
  background-image: url("/images/bureau-hero.webp");
}

.hero-content {
  h1 {
    line-height: 1.2;
  }
}

.page-section {
  background-image: url("/images/tree.webp");
}

.bureau-grid {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 100px;

  align-items: center;

  img {
    max-width: 100%;
    max-height: 500px;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
  }

}

.paper-box {
  background: url("/images/plaster.png");
  background-size: cover;
  padding: 60px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    line-height: 1.8;
  
    margin-bottom: 20px;
  }

  h3 {
    color: #000;
    font-size: 68px;
    margin-bottom: 40px;
  }
}

@media (max-width: 900px) {
  .bureau-grid {
    grid-template-columns: 1fr;
  }

  .bureau-content h1 {
    font-size: 4rem;
  }
}
