.bureau-hero {
  height: 100vh;

  background-image: url("/images/bureau-hero.webp");

  background-size: cover;

  background-position: center;

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;

  text-align: center;

  color: white;
}

.hero-overlay {
  position: absolute;

  inset: 0;

  background: rgba(0, 0, 0, 0.2);
}

.bureau-content {
  position: relative;

  z-index: 2;
}

.bureau-content h1 {
  font-size: 7rem;

  font-weight: 300;

  letter-spacing: 8px;

  line-height: 1.3;

  margin-bottom: 20px;
}

.bureau-content p {
  font-size: 1.2rem;

  letter-spacing: 2px;
}

.bureau-section {
  padding: 120px 8%;

  background-image: url("/images/tree.webp");

  background-size: cover;

  border-top: 15px solid #d8a98c;
}

.bureau-grid {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 100px;

  align-items: center;
}

.reverse {
  direction: rtl;
}

.reverse * {
  direction: ltr;
}

.paper-box {
  background: url("/images/whitebag.webp");

  background-size: cover;

  padding: 60px;

  min-height: 450px;

  display: flex;

  flex-direction: column;

  justify-content: center;
}

.paper-box h2 {
  margin-bottom: 30px;

  font-size: 2rem;

  font-weight: 400;
}

.paper-box p {
  line-height: 1.8;

  margin-bottom: 20px;
}

.paper-box a {
  width: fit-content;

  margin-top: 30px;

  padding: 15px 30px;

  background: #756048;

  color: white;

  text-decoration: none;
}

.bureau-grid img {
  max-width: 100%;

  width: auto;

  height: auto;

  display: block;

  margin: auto;

  max-height: 500px;
}

@media (max-width: 900px) {
  .bureau-grid {
    grid-template-columns: 1fr;
  }

  .bureau-content h1 {
    font-size: 4rem;
  }
}
