.gallery-hero {
  height: 68vh;

  background-image: url("/images/pernelle.webp");
  background-size: cover;
  background-position: center;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.18);
}

.gallery-title {
  position: relative;
  z-index: 10;

  color: white;

  text-align: center;

  background: var(--footer_color_bureau);

  width: 620px;
  height: 135px;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateY(140px);
}

.gallery-hero {
  overflow: visible;
}

.gallery-title {
  overflow: visible;
}

.gallery-title h1 {
  font-size: 6rem;

  font-weight: 300;

  letter-spacing: 10px;

  margin: 0;
}

.gallery-title span {
  font-size: 7rem;
}

/* GALLERY */

.gallery-wrapper {
  padding: 110px 8%;

  background-image: url("/images/gb.webp");
  background-size: cover;
  background-position: center;

  border-top: 15px solid #d8a98c;
}

.gallery-top {
  display: flex;

  justify-content: space-between;
  align-items: center;

  margin-bottom: 60px;
}

.gallery-filter {
  width: 130px;
  height: 42px;

  padding: 0 15px;

  background: var(--footer_color_bureau);

  border: none;

  color: white;

  font-size: 0.9rem;
}

.gallery-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 60px;
}

.gallery-card {
  position: relative;
}

.gallery-card img {
  width: 100%;

  height: 430px;

  object-fit: cover;

  display: block;
}

.artist {
  position: absolute;

  bottom: 12px;
  left: 12px;

  background: var(--footer_color_bureau);

  padding: 6px 14px;

  font-size: 0.72rem;

  color: white;

  letter-spacing: 1px;
}

.sort {
  background: var(--footer_color_bureau);
}

/* MOBILE */

@media (max-width: 900px) {
  .gallery-grid {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-title h1 {
    font-size: 4rem;
  }
}

@media (max-width: 650px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .gallery-hero {
    height: 55vh;
  }

  .gallery-title h1 {
    font-size: 3rem;
    letter-spacing: 5px;
  }
}
