* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #d9d9d9;

  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--h1-typeface);
  font-size: var(--h1-size);
  color: var(--h1-color);
}

h2 {
  font-family: var(--h2-typeface);
  font-size: var(--h2-size);
  color: var(--secondary2-900);
}

h3 {
  font-family: var(--h3-typeface);
  font-size: var(--h3-size);
  color: var(--secondary2-900);
}

p {
  font-family: var(--p-typeface);
  font-size: var(--p-size);
}

.paper-box h1 {
  color: var(--secondary2-900);
}

/* HERO */

.hero {
  position: relative;

  margin-bottom: -4px; /* jeg ved ikke hvor de 4px kommer fra.... */

  .hero-video {
    width: 100%;
    object-fit: cover;
  }

  .hero-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
  }

  /* HERO CONTENT */

  .hero-content {
    position: absolute;

    top: 48%;
    left: 30px;
    width: 80%;
    z-index: 5;
    color: white;
  }

  .hero-content p {
    font-family: var(--p-subtitle-typeface);
    font-size: var(--p-subtitle-size);
    margin-left: 20px;
  }
}

.booking-btn {
  padding: 18px 40px;

  border: 1px solid white;

  color: white;

  text-decoration: none;

  font-family: var(--p-typeface);

  letter-spacing: 4px;

  transition: 0.3s;
}

.booking-btn:hover {
  background: white;
  color: black;
}

/* MOBILE */

@media (max-width: 900px) {
  .booking-btn {
    padding: 10px 20px;

    font-size: 0.8rem;
  }
}

.text-box {
  padding: 50px;

  background: rgba(101, 117, 77, 0.75);

  color: white;
}

.cta-btn {
  display: inline-block;

  margin-top: 30px;

  padding: 15px 30px;

  border: 1px solid white;

  color: white;

  text-decoration: none;
}
