.hero{
  margin-bottom: -10px; /* jeg ved ikke hvor de 10px kommer fra.... */
}

/* ABOUT SECTION */

.about {
  padding: 80px;

  background-image: url("/images/about_us_bg.webp");

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;
}

.about-grid {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 50px;

  align-items: stretch;
}

.text-box {
  color: white;
  background: rgba(101, 117, 77, 0.75);
  padding: 18px;

  &:first-child {
    margin-bottom: 35px;
  }

  h3, h2{
    color: var(--tertiary2-100);
  }

  p {
    line-height: 1.8;

    color: white;
  }
}

.right-box {
  height: 100%;
  display: flex;
  align-self: stretch;

  img{
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.quote {
  padding: 50px;

  .quote-content {
    position: relative;
  }

  p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 20px;
    span {
      margin-left: 10px;
    }
  }

  .quote-mark{
    position: absolute;
    font-size: 60px;

    &:first-of-type {
      left: -35px;
      top: -35px;
    }

    &:last-of-type {
      right: -35px;
      bottom: -35px;
    }

    
  }
  

}


@media (max-width: 900px) {
    .about {
    padding: 30px;
  }

  .about-grid {
    grid-template-columns: 1fr;
  }

  .right-box img {
    height: 400px;
  }

}