.kunsthal-hero {
  height: 100vh;

  background: url("/images/kh3.webp");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;

  position: relative;

  padding-left: 8%;

  color: white;
}

.hero-overlay {
  position: absolute;

  inset: 0;

  background: rgba(0, 0, 0, 0.15);
}

.kunsthal-content {
  position: relative;

  z-index: 2;
}

.kunsthal-content h1 {
  font-size: 6rem;

  font-weight: 300;

  letter-spacing: 6px;

  line-height: 1.4;

  margin-bottom: 20px;
}

.kunsthal-content p {
  font-size: 1.2rem;
}

.kunsthal-section {
  padding: 100px 8%;

  border-top: 8px solid #44506a;

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;
}

.art-bg {
  background: url("/images/art1.png");
}

.food-bg {
  background: url("/images/food2.png");
  background-repeat: round;
}

.stay-bg {
  background: url("/images/whitebag.webp");
}

.section-grid {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 100px;

  align-items: center;
}

.section-text h2 {
  font-size: 3rem;

  margin-bottom: 20px;
}

.section-text h3 {
  margin-bottom: 20px;
}

.section-text p {
  line-height: 1.8;

  margin-bottom: 20px;
}

.section-text a {
  display: inline-block;

  padding: 12px 25px;

  background: #2f3c57;

  color: white;

  text-decoration: none;

  margin-top: 20px;
}

.section-grid img {
  width: 100%;

  max-width: 850px;

  height: auto;

  display: block;

  margin: auto;

  object-fit: cover;
}

@media (max-width: 900px) {
  .section-grid {
    grid-template-columns: 1fr;
  }

  .kunsthal-content h1 {
    font-size: 4rem;
  }
}
