.hero-image {
  background: url("/images/hero-kunsthal.webp");
}

.hero-content {
  h1 {
    line-height: 1.2;
  }
}

.page-section {
  padding: 100px 8%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.art-bg {
    background: url("/images/art1.png");
  }
  
  &.food-bg {
    background: url("/images/food2.png");
    background-repeat: round;
  }
  
  &.stay-bg {
    background: url("/images/whitebag.webp");
  }
}


.section-grid {
  display: grid;

  grid-template-columns: 1fr 1fr;

  gap: 100px;

  align-items: center;
}

.section-text h2 {
  font-size: 64px;

  margin-bottom: 20px;

  color: black;
}

.section-text h3 {
  margin-bottom: 20px;

  color: black;

  font-size: 60px;
}

.section-text p {
  line-height: 1.8;

  margin-bottom: 20px;

  color: black;
}

.showcase-img {
  width: 100%;

  max-width: 850px;

  height: auto;

  display: block;

  margin: auto;

  object-fit: cover;
}

@media (max-width: 900px) {
  .section-grid {
    grid-template-columns: 1fr;
  }

  .kunsthal-content h1 {
    font-size: 4rem;
  }
}
