---
import Layout from "../layouts/Layout.astro";

import heroVideo from "/public/video/MVI_9007.mp4";
import contactImage from "/public/images/pawel-pernille.webp";
---

<Layout title="Brantebjerg">
  <section class="hero">
    <header class="nav">
      <a href="/" aria-label="Gå til forsiden">
        <img src="/icons/logo.jpg" alt="Brantebjerg" class="logo" />
      </a>

      <div class="nav-right">
        <a href="/kunsthal">
          <img src="/icons/kunsthal.svg" alt="" />
        </a>

        <div class="separator"></div>

        <a href="/bureau">
          <img src="/icons/bureau.svg" alt="" />
        </a>

        <a class="booking-btn active-btn" href="/booking"> Booking </a>
      </div>
    </header>

    <video autoplay muted loop playsinline class="hero-video">
      <source src={heroVideo} />
    </video>

    <div class="hero-overlay"></div>

    <div class="hero-content">
      <h1>Besøg os!</h1>
    </div>
  </section>

  <!-- KONTAKT -->

  <section class="booking-section">
    <div class="booking-grid">
      <div class="form-box">
        <h2>Kontakt</h2>

        <h3>Udfyld formularen</h3>

        <form class="contact-form">
          <input type="text" placeholder="Navn" />

          <input type="email" placeholder="Email" />

          <input type="tel" placeholder="Telefon" />

          <textarea placeholder="Besked"></textarea>

          <button type="submit"> Send → </button>
        </form>
      </div>

      <div class="image-box">
        <img src={contactImage.src} alt="Brantebjerg" />
      </div>
    </div>
  </section>

  <!-- ÅBNINGSTIDER -->

  <section class="booking-section">
    <div class="hours-box">
      <h2>Åbningstider</h2>

      <div class="hours-grid">
        <div>
          <h3>Kunsthal</h3>

          <p>Mandag: Lukket</p>

          <p>Tirsdag: 10–18</p>

          <p>Onsdag: 10–18</p>

          <p>Torsdag: 10–18</p>
        </div>

        <div>
          <h3>Bureau</h3>

          <p>Mandag: 09–16</p>

          <p>Tirsdag: 09–16</p>

          <p>Onsdag: 09–16</p>

          <p>Torsdag: 09–16</p>
        </div>
      </div>
    </div>
  </section>
</Layout>
