---
import Layout from "../layouts/Layout.astro";
import "../styles/bureau.css";
---

<Layout title="Brantebjerg Bureau">
  <section class="bureau-hero">
    <div class="hero-overlay"></div>

    <div class="bureau-content">
      <h1>
        Brantebjerg <br />
        Bureau
      </h1>

      <p>Tullinsgade 25, 1618</p>
    </div>
  </section>

  <section class="bureau-section">
    <div class="bureau-grid">
      <div class="paper-box">
        <h2>About Brantebjerg Bureau</h2>

        <p>In 2025 Pawel and Pernelle created Brantebjerg Bureau.</p>

        <p>Brantebjerg Bureau er et mere intimt sted end Brantebjerg Kunsthal. Et rum til møder, kunst og kreative oplevelser.</p>

        <p>Her samles mennesker omkring kunst, events og nye idéer.</p>

        <a href="/bureau-galleri"> Explore gallery → </a>
      </div>

      <div>
        <img src="/images/kunst.webp" alt="" />
      </div>
    </div>
  </section>

  <section class="bureau-section">
    <div class="bureau-grid">
      <div>
        <img src="/images/stemning.webp" alt="" />
      </div>

      <div class="paper-box">
        <h2>Events at Brantebjerg Bureau</h2>

        <p>Brantebjerg Bureau tilbyder også events, udstillinger og kreative oplevelser.</p>

        <p>Hvis du ønsker at afholde et arrangement, kontakt os.</p>

        <a href="/events"> See events → </a>
      </div>
    </div>
  </section>
</Layout>
