---
import Layout from "../layouts/Layout.astro";
import "../styles/bureau.css";
---

<Layout title="Brantebjerg Bureau">
  <section class="bureau-hero">
    <div class="hero-overlay"></div>

    <div class="bureau-content">
      <h1>
        Brantebjerg <br />
        Bureau
      </h1>

      <p>Tullinsgade 25, 1618</p>
    </div>
  </section>

  <section class="bureau-section">
    <div class="bureau-grid">
      <div class="paper-box">
        <h1>About Brantebjerg Bureau</h1> STONG

        <p>In 2026 Pawel and Pernelle set out on a new adventure: introducing Brantebjerg Bureau!</p>

        <p>Brantebjerg Bureau is the little sister to Brantebjerg Kunsthal. It’s an art shop, but smaller and more intimate than Kunsthal, which gives it a more homely feel, perfect for evaluating if the art pieces would be suitable in your home.</p>

        <p>Brantebjerg Bureau is located on Tullinsgade on Vesterbro, making it a more convenient office for meetings with Pawel and Pernelle, if your planning an event with them.</p>

        <a href="/bureau-galleri"> Explore gallery → </a>
      </div>

      <div>
        <img src="/images/kunst.webp" alt="" />
      </div>
    </div>
  </section>

  <section class="bureau-section">
    <div class="bureau-grid">
      <div>
        <img src="/images/stemning.webp" alt="" />
      </div>

      <div class="paper-box">
        <h1>Events at Brantebjerg Bureau</h1>

        <p>Besides art and meetings over coffee, Brantebjerg Bureau also offers a place to host events, such as plays and intimate concerts.</p>

        <p>If you have interest in hosting your next event at Brantebjerg Bureau, contact Pawel at: pwedrowski@yahoo.dk</p>

        <a href="/events"> See events → </a>
      </div>
    </div>
  </section>
</Layout>
