---
import Layout from "../layouts/Layout.astro";
import pawelImage from "/public/images/pawel-pernille.webp";
import heroVideo from "/public/video/MVI_9007.mp4";
---

<Layout title="Brantebjerg">
  <section class="hero">
    <video autoplay muted loop playsinline class="hero-video">
      <source src={heroVideo} type="video/mp4" />
    </video>

    <div class="hero-overlay"></div>

    <div class="hero-content">
      <h1>Brantebjerg</h1>

      <p>Et kreativt kunstmiljø</p>
    </div>
  </section>

  <section class="about">
    <div class="about-grid">
      <div class="left-box">
        <h3>Om os</h3>

        <h2>
          Pawel & Pernelle -<br />
          Menneskene bag Brantebjerg
        </h2>

        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
          looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable sourceContrary to popular belief, Lorem Ipsum is not simply
          random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
          consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable sourceContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
          classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
          going through the cites of the word in classical literature, discovered the undoubtable sourceContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it
          over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
          literature, discovered the undoubtable source
        </p>
      </div>

      <div class="right-box">
        <img src={pawelImage.src} alt="Pawel og Pernille" />

        <div class="quote">
          <p>"In 1979 a couple of refugees arrived by foot to this place. They decided to open a gallery and present to the local environment a little piece of their homeland. They were my mom and dad."</p>

          <span> Pawel Dawid Wedrowski </span>
        </div>
      </div>
    </div>
  </section>
</Layout>
