---
import Layout from "../layouts/Layout.astro";
import "../styles/kunst-galleri.css";
import { getGallery } from "../api/supabase";

const artworks = await getGallery();

const kunsthalArt = artworks.filter((item) => item.place && item.place.toLowerCase() === "brantebjerg kunsthal");
---

<Layout title="Galleri">
  <!-- HERO -->

  <section class="gallery-hero">
    <div class="hero-overlay"></div>

    <div class="gallery-title">
      <h1>Gallery</h1>
    </div>
  </section>

  <!-- GALLERY -->

  <section class="gallery-container">
    <div class="gallery-top">
      <select class="gallery-filter">
        <option>Filter</option>

        <option>Maleri</option>

        <option>Foto</option>

        <option>Skulptur</option>
      </select>
    </div>

    <div class="gallery-grid">
      {
        kunsthalArt.map((art) => (
          <article class="art-card">
            <img src={art.picture} alt={art.artist} />

            <div class="art-label">{art.artist}</div>
          </article>
        ))
      }
    </div>
  </section>
</Layout>
