---
import Layout from "../layouts/Layout.astro";
import "../styles/kunsthal.css";
---

<Layout title="Brantebjerg Kunsthal">
  <!-- HERO -->

  <section class="kunsthal-hero">
    <div class="hero-overlay"></div>

    <div class="kunsthal-content">
      <h1>
        Brantebjerg <br />
        Kunsthal
      </h1>

      <p>Nakke Nord 65, 4500</p>
    </div>
  </section>

  <!-- ART -->

  <section class="kunsthal-section art-bg">
    <div class="section-grid">
      <div class="section-text">
        <h2>Art Collection</h2>

        <p>See the sprawling art exhibited in Brantebjerg Kunsthals raw architecture</p>

        <a href="/kunsthal-galleri"> Kunsthal Gallery → </a>
      </div>

      <div>
        <img src="/images/gallery.webp" alt="" />
      </div>
    </div>
  </section>

  <!-- FOOD -->

  <section class="kunsthal-section food-bg">
    <div class="section-grid">
      <div>
        <img src="/images/food.webp" alt="" />
      </div>

      <div class="section-text">
        <h2>Food</h2>

        <h3>Enjoy a meal.</h3>

        <p>Besides the art and surroundings, Brantebjerg also offers food and drinks.</p>

        <p>Enjoy local ingredients and seasonal produce.</p>

        <a href="#"> Menu popup → </a>
      </div>
    </div>
  </section>

  <!-- STAY -->

  <section class="kunsthal-section stay-bg">
    <div class="section-grid">
      <div>
        <img src="/images/stay.webp" alt="" />
      </div>

      <div class="section-text">
        <h2>Accommodations</h2>

        <h3>Come and stay</h3>

        <p>If you can't get enough of Brantebjerg, you can book a stay in the guest house.</p>

        <p>Contact: pernellecaspersen@yahoo.dk</p>
      </div>
    </div>
  </section>
</Layout>
