---
import Layout from "../layouts/Layout.astro";
import { getGallery } from "../api/supabase";

const artworks = await getGallery();

console.log(artworks);
---

<Layout title="Galleri">

  <section class="gallery-hero">
    <div class="gallery-title">
      <h1>Gallery</h1>
    </div>
  </section>

  <section class="gallery-section">
    <div class="gallery-controls">
      <select class="gallery-filter">
        <option>Filter</option>
        <option>Maleri</option>
        <option>Foto</option>
        <option>Skulptur</option>
      </select>
    </div>
    <div class="gallery-grid">
      {
        artworks.map((art : { picture: string; artist: string }) => (
          <article class="art-card">
            <img src={art.picture} alt={art.artist} />

            <div class="art-label">{art.artist}</div>
          </article>
        ))
      }
    </div>
  </section>
</Layout>
