---
const pathname = Astro.url.pathname;

//Kigger på urlen, og tildeler en klasse
const color = pathname === "/" ? "index" :
  	pathname.startsWith("/bureau") ? "bureau" :
	pathname.startsWith("/bureau-galleri") ? "bureau-galleri" :
  	pathname.startsWith("/kunsthal") ? "kunsthal" :
	pathname.startsWith("/kunsthal-galleri") ? "kunsthal-galleri" :
	pathname.startsWith("/events") ? "events" : "";
---

<style>
	div{
		height: 12px;
		display: block;

		/* hvis den klasse der blev tildelt matcher,
		bliver baggrundsfarven sat tilsvarende */

		&.index, &.events {
			background-color: var(--footer_color_index);
		}

		&.bureau, &.bureau-galleri {
			background-color: var(--footer_color_bureau);
		}

		&.kunsthal, &.kunsthal-galleri {
			background-color: var(--footer_color_kunsthal);
		}
	}
</style>

<div class={color}>
</div>