---
const pathname = Astro.url.pathname;

//see the path to figure out the background color for the page
const color = pathname === "/" ? "index" :
  pathname.startsWith("/bureau") ? "bureau" :
	pathname.startsWith("/bureau-galleri") ? "bureau-galleri" :
  pathname.startsWith("/kunsthal") ? "kunsthal" :
	pathname.startsWith("/kunsthal-galleri") ? "kunsthal-galleri" :
	pathname.startsWith("/events") ? "events" : "";
---

<style>
	div{

		height: 12px;
		display: block;

		&.index {
			background-color: var(--card_color_index);
		}

		&.events {
			background-color: var(--card_color_events);
		}

		&.bureau {
			background-color: var(--card_color_bureau);
		}
		
		&.bureau-galleri {
			background-color: var(--card_color_bureau-galleri);
		}

		&.kunsthal {
			background-color: var(--card_color_kunsthal);
		}

		&.kunsthal-galleri {
			background-color: var(--card_color_kunsthal-galleri);
		}
	}

</style>

<div class={color}>

</div>