---
import facebookIcon from "/public/icons/facebook.svg";
import instaIcon from "/public/icons/insta.svg";
import "../styles/global.css";
---

<style>
  .footer {
    background: var(--secondary2-300);

    padding: 80px;

    color: white;

    text-align: center;
  }

  .footer-content {
    max-width: 1000px;

    margin: auto;
  }

  .footer-divider {
    height: 1px;

    background: white;

    margin: 30px 0;

    opacity: 0.4;
  }

  .footer h3 {
    font-family: var(--h1-typeface);

    font-size: 3rem;

    margin-bottom: 10px;
  }

  .footer p {
    opacity: 0.9;
  }

  .newsletter {
    display: flex;

    justify-content: center;

    gap: 20px;

    margin: 40px 0;
  }

  .newsletter input {
    width: 350px;

    padding: 18px;

    border: none;

    border-radius: 50px;

    background: var(--secondary2-100);

    color: white;
  }

  .newsletter input::placeholder {
    color: white;
  }

  .newsletter button {
    padding: 18px 30px;

    border-radius: 50px;

    border: none;

    background: var(--secondary2-100);

    color: white;

    cursor: pointer;

    transition: 0.3s;
  }

  .newsletter button:hover {
    opacity: 0.8;
  }

  .socials {
    display: flex;

    justify-content: center;

    gap: 20px;

    margin-bottom: 30px;
  }

  .socials img {
    height: 28px;
  }

  @media (max-width: 900px) {
    .newsletter {
      flex-direction: column;
    }

    .newsletter input {
      width: 100%;
    }

  }
</style>

<footer class="footer">
  <div class="footer-content">
    <div class="footer-divider"></div>

    <h3>Tilmeld dig vores nyhedsbrev</h3>

    <p>Få nyheder om udstillinger, events og oplevelser hos Brantebjerg</p>

    <div class="newsletter">
      <input type="email" placeholder="Din e-mailadresse" />

      <button> TILMELD </button>
    </div>

    <div class="socials">
      <a href="https://www.facebook.com/kunsthalbrantebjerg">
        <img src={facebookIcon.src} alt="facebook" />
      </a>

      <a href="https://www.instagram.com/kunsthal.brantebjerg.dk/">
        <img src={instaIcon.src} alt="instagram" />
      </a>
    </div>

    <div class="footer-divider"></div>

    <p class="copyright">@2026 Brantebjerg | Kunst i øjenhøjde</p>
  </div>
</footer>
