---
import facebookIcon from "/public/icons/facebook.svg";
import instaIcon from "/public/icons/insta.svg";
---

<style>
  .footer {
    background: var(--secondary1-300, #39475f);

    padding: 35px 0 15px;
    color: white;
  }

  .footer-wrapper {
    width: 86%;
    max-width: 1550px;
    margin: auto;
  }

  .line {
    height: 2px;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 45px;
  }

  /* TOP */

  .footer-top {
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: start;
    margin-bottom: 45px;
  }

  .hours-wrapper {
    display: flex;
    gap: 100px;
  }

  .footer-title {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }

  .hours-title {
    font-size: 1.1rem;
    margin-bottom: 30px;
  }

  .hours-item {
    display: flex;
    gap: 18px;
    font-size: 1.1rem;
    margin-bottom: 6px;
  }

  .hours-item span:first-child {
    width: 55px;
  }

  .contact {
    margin-top: 0;
  }
  .contact-grid {
    display: grid;
    grid-template-columns: 180px auto;

    margin-top: -20px;
    margin-bottom: 25px;
  }

  .socials {
    display: flex;
    gap: 30px;

    margin-top: -30px;
  }

  .socials img {
    width: 54px;
  }

  .newsletter {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-top: 30px;
  }

  .newsletter h2 {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 6px;
    margin-bottom: 10px;
  }

  .newsletter p {
    font-size: 1.25rem;
  }

  .news-form {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .news-form input {
    width: 520px;
    height: 72px;
    padding: 0 35px;

    border: none;
    outline: none;

    border-radius: 50px;

    background: var(--secondary1-100, #7082a0);

    color: white;
    font-size: 1.4rem;
  }

  .news-form input::placeholder {
    color: white;
  }

  .news-form button {
    width: 165px;
    height: 72px;

    border: none;
    border-radius: 50px;

    background: var(--secondary1-100, #7082a0);

    color: white;

    font-size: 1.3rem;

    cursor: pointer;
  }

  .copyright {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 35px;
  }

  @media (max-width: 900px) {
    .footer-top {
      grid-template-columns: 1fr;
      gap: 50px;
    }

    .hours-wrapper {
      flex-wrap: wrap;
      gap: 50px;
    }

    .newsletter {
      grid-template-columns: 1fr;
      gap: 30px;
    }

    .news-form {
      flex-direction: column;
    }

    .news-form input,
    .news-form button {
      width: 100%;
    }
  }
</style>

<footer class="footer">
  <div class="footer-wrapper">
    <div class="line"></div>

    <div class="footer-top">
      <div class="hours-wrapper">
        <div>
          <div class="footer-title">Opening hours</div>

          <div class="hours-title">Kunsthal:</div>

          <div class="hours-item"><span>Mon:</span><span>11-19</span></div>
          <div class="hours-item"><span>Tue:</span><span>11-19</span></div>
          <div class="hours-item"><span>Wed:</span><span>11-19</span></div>
          <div class="hours-item"><span>Thu:</span><span>11-19</span></div>
          <div class="hours-item"><span>Fri:</span><span>11-19</span></div>
          <div class="hours-item"><span>Sat:</span><span>Closed</span></div>
          <div class="hours-item"><span>Sun:</span><span>Closed</span></div>
        </div>

        <div>
          <div style="height:58px"></div>

          <div class="hours-title">Bureau:</div>

          <div class="hours-item"><span>Mon:</span><span>11-19</span></div>
          <div class="hours-item"><span>Tue:</span><span>11-19</span></div>
          <div class="hours-item"><span>Wed:</span><span>11-19</span></div>
          <div class="hours-item"><span>Thu:</span><span>11-19</span></div>
          <div class="hours-item"><span>Fri:</span><span>11-19</span></div>
          <div class="hours-item"><span>Sat:</span><span>Closed</span></div>
          <div class="hours-item"><span>Sun:</span><span>Closed</span></div>
        </div>
      </div>

      <div class="contact">
        <div class="footer-title">Contact</div>

        <div class="contact-grid">
          <p>Book a table</p>
          <p>+45 26786819</p>

          <p>Book a stay</p>
          <p>pernellecaspersen@yahoo.dk</p>

          <p>Book an event</p>
          <p>pwedrowski@yahoo.dk</p>
        </div>

        <div class="socials">
          <a href="#">
            <img src={facebookIcon.src} />
          </a>

          <a href="#">
            <img src={instaIcon.src} />
          </a>
        </div>
      </div>
    </div>

    <div class="line" style="margin-top:35px"></div>

    <div class="newsletter">
      <div>
        <h2>Sign up for our newsletter</h2>

        <p>Sign up to receive news from our galleries or locations →</p>
      </div>

      <div class="news-form">
        <input type="email" placeholder="Your E-mail .." />

        <button> Sign Up </button>
      </div>
    </div>

    <div class="copyright">@2026 Brantebjerg</div>
  </div>
</footer>
