<style>
	@import "../styles/global.css";
</style>

<header class="nav">
	<a href="/" aria-label="Gå til forsiden">
		<img src="/icons/logo.jpg" alt="Brantebjerg" class="logo" />
	</a>

	<div class="nav-right">
		<a href="/kunsthal">
			<img src="/icons/kunsthal.svg" alt="Kunsthal" />
		</a>
		<div class="separator"></div>
	
		<a href="/bureau">
			<img src="/icons/bureau.svg" alt="Bureau" />
		</a>
	
		<a href="/booking" class="booking-btn"> Booking </a>
	</div>
</header>