---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

import "../variables/text.css";
import "../variables/colors.css";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/icons/bb_logo.png" sizes="48x48" />
    <link rel="apple-touch-icon" href="/icons/bb_logo.png" />
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />

    <title>Brantebjerg</title>
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
</style>
