---
import facebookIcon from "/public/icons/facebook.svg";
import instaIcon from "/public/icons/insta.svg";
---

<footer class="footer">
  <div class="footer-content">
    <div class="footer-divider"></div>

    <div class="footer-grid">
      <!-- Venstre -->

      <div class="footer-newsletter">
        <h3>Tilmeld dig vores nyhedsbrev</h3>

        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>

        <div class="newsletter">
          <input type="email" placeholder="Din e-mailadresse" />

          <button>TILMELD</button>
        </div>
      </div>

      <!-- Midte -->

      <div class="footer-links">
        <h4>Contact</h4>

        <a href="#">Book a table</a>

        <a href="#">Book a stay</a>

        <a href="#">Book an event</a>
      </div>

      <!-- Højre -->

      <div class="footer-contact">
        <h4>Info</h4>

        <p>+45 26786819</p>

        <p>pernellecaspersen@yahoo.dk</p>

        <p>pwedrowski@yahoo.dk</p>
      </div>
    </div>

    <div class="socials">
      <a href="https://www.facebook.com/kunsthalbrantebjerg" target="_blank">
        <img src={facebookIcon.src} alt="facebook" />
      </a>

      <a href="https://www.instagram.com/kunsthal.brantebjerg.dk/" target="_blank">
        <img src={instaIcon.src} alt="instagram" />
      </a>
    </div>

    <div class="footer-divider"></div>

    <p class="copyright">@2026 Brantebjerg | Kunst i øjenhøjde</p>
  </div>
</footer>
