---
import facebookIcon from "/public/icons/facebook.svg";
import instaIcon from "/public/icons/insta.svg";
---

<footer class="footer">
  <div class="footer-content">
    <div class="footer-divider"></div>

    <h3>Tilmeld dig vores nyhedsbrev</h3>

    <p>Få nyheder om udstillinger, events og oplevelser hos Brantebjerg</p>

    <div class="newsletter">
      <input type="email" placeholder="Din e-mailadresse" />

      <button> TILMELD </button>
    </div>

    <div class="socials">
      <a href="https://www.facebook.com/kunsthalbrantebjerg">
        <img src={facebookIcon.src} alt="facebook" />
      </a>

      <a href="https://www.instagram.com/kunsthal.brantebjerg.dk/">
        <img src={instaIcon.src} alt="instagram" />
      </a>
    </div>

    <div class="footer-divider"></div>

    <p class="copyright">@2026 Brantebjerg | Kunst i øjenhøjde</p>
  </div>
</footer>
